@model IEnumerable<WebApp.Models.ImovelViewModel>
@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="text-center">
        <h1 class="display-4">Bem Vindo! Ao site da Imobiliária SENNA</h1>
    </div>
    <br>
    <br>
    <table id="DT_load" class="table table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Imovel</th>
                <th>Quantidade de Quartos</th>
                <th>Cidade</th>
                <th>Bairro</th>
                <th>Tipo de Imovel</th>
                <th>Valor do Aluguel</th>
            </tr>
        </thead>
    </table>
</div>